

a{
	color:#63a8c3;
	text-decoration:none;
}


a:hover{
	text-decoration:underline;
}


#dragbkmk-container{
	background:url(../images/dragbkmkcontainerbg.jpg) repeat-x 0px 0px;
	height:129px;
	min-width:980px;
	position:relative;
	top:0px;
	-moz-box-shadow:0px 5px 5px #999999;
}





#dragbkmk-container a#skiphl{
	background:url(../images/aa/dragndrop_close.png) no-repeat 0px 0px;
	height:22px;
	width:60px;
	position:absolute;
	top:15px;
	right:15px;
	text-indent:-9999px;
	z-index:2;
	cursor:pointer;
}


#dragbkmk-container .dragbkmk-inner{
	width:948px;
	height:81px;
	margin:0px auto;
	position:relative;
	padding:2em 1em 2em 2em;
}


#dragbkmk-container .dragbkmk-content{
	float:right;
	padding:0.4em 0em 0em 0em;
}




#dragbkmk-container a.dragbkmk-roohitdragbtn{
	background:url(../images/roohitdragbtn.png) no-repeat 0px 0px;
	width:130px;
	height:48px;
	margin:0px 5px 0px 7px;
	text-indent:-9999px;
	display:inline-block;
   cursor:move;
}


#dragbkmk-container .dragbkmk-inner .dragbtn-uparrow{
	background:url(../images/dragbtnuparrow.png) no-repeat 0px 0px;
	width:61px;
	height:96px;
	margin:0px;
	position:absolute;
	top:-43px;
	left:300px;
	text-indent:-9999px;
}


#dragbkmk-container .dragbkmk-inner .dragbtn-screen{
	background:url(../images/dragbtnscreen.png) no-repeat 0px 0px;
	width:163px;
	height:62px;
	margin:0px;
	float:left;
	text-indent:-9999px;
}


#dragbkmk-container .bar-instruction{
	font-size:11px;
	color:#8b8c8c;
	position:absolute;
	left:0px;
	bottom:10px;
	display:none;
}


#dragbkmk-container .bar-instruction .key-btn{
	background:#dfdede;
	padding:0.1em 0.4em 0.1em 0.5em;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}


#dragbkmk-container h2.dragbtn-tip{
	color:#d5030b;
	position:absolute;
	margin:0px -15px 0px 0px;
	bottom:15px;
	right:25px;
	font-size:16px;
	font-weight:normal;
	line-height:1.2em;
	width:100%;
	text-align:right;
}




#dragbkmk-container h1{
	font-size:18px;
	color:#666666;
	margin:0px;
	padding:0em;
	line-height:2.2em;
	font-weight:normal;
}


#dragbkmk-container h2{
	font-size:12px;
	color:#666666;
	margin:-5px 0px 0px 0px;
	padding:0em;
	font-weight:normal;
	text-align:right;
	line-height:0em;
}








